{% extends 'core/base.html' %}

{% block content %}
<!-- Header -->
<header id="header">
	<h1>Grzegorz Kuźmicz</h1>
	<p>Junior Python DevOps&nbsp;&bull;&nbsp; Security Chief &nbsp;&bull;&nbsp; Cloud Web Developer &nbsp;&bull;&nbsp; </p>
	<nav>
		<ul>
			<li><a href="https://twitter.com/GrzegorzKuzmicz" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/grzegorz.kuzmicz.7/" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			{% comment %} <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li> {% endcomment %}
			<li><a href="https://github.com/gregoriano83" class="icon brands fa-github"><span class="label">Github</span></a></li>
			<li><a href="mailto:gregoriano83@gmail.com" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
		</ul>
	</nav>
</header>

<!-- Footer -->
<footer id="footer">
	<span class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>.</span>
	<span class="copyright">&copy; TEST PAGE : <a href="{% url 'test' %}">TEST</a></span>
</footer>
{% endblock %}